## Linux

# Temporary files
*~

## macOS

# Files created by macOS Finder
.DS_Store

## Windows

# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# input files
*.wav
*.ogx
*.m4a

# output files
*.txt

# R Speech rocognition model
*.bin

# R library
core
